<mat-toolbar color="primary" class="sticky-top">
<mat-toolbar-row>

<button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon>
    menu
  </mat-icon>
</button>
<span >Rent a car</span>
<span class="spacer"></span>
<div>
  <a routerLink="/" mat-button>
    <mat-icon>power_settings_new</mat-icon>
    Login</a>
  <a routerLink="/register" mat-button>
    <mat-icon>fingerprint</mat-icon>
    Register</a>
</div>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toogle()" mat-list-item routerLink="/manage">
        <mat-icon>calendar_today</mat-icon>
        Manage Reservations
      </a>

      <a (click)="sidenav.toogle()"  mat-list-item routerLink="/create-car">
        <mat-icon>drive_eta</mat-icon>
        Add a Car
      </a>

      <a (click)="sidenav.toogle()"  mat-list-item routerLink="/users">
          <mat-icon>person_add_disabled</mat-icon>
          My Users
      </a>

      <a (click)="sidenav.toogle()"  mat-list-item routerLink="/main">
          <mat-icon>home</mat-icon>
          Main Page
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>